<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129888744260-a82fmam7dihgk51jtem08659cq5j0aib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129888744260-a82fmam7dihgk51jtem08659cq5j0aib</string>
	<key>API_KEY</key>
	<string>AIzaSyCufD5yYAx_00OzhqElZGG6HBxDaXOtxI0</string>
	<key>GCM_SENDER_ID</key>
	<string>129888744260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuldenonan.FoodBreak</string>
	<key>PROJECT_ID</key>
	<string>foodbreak-5f8e4</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbreak-5f8e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129888744260:ios:17dfa6ad17755b2f865d11</string>
</dict>
</plist>